@charset "UTF-8";

body{
	font-family:helvetica,arial,sans-serif;
}

table {
	width:100%;
	border-collapse:collapse;
}

tr {
	border: 1px solid #999;
}

tr:hover {
  background:#FFB280;
}

th,td {
	border: 1px solid #999;
	padding:3px;
	text-align:left;
	vertical-align:top;
}

th {
	background-color:#FF7519;
}

td {
}

td:nth-child(3),td:nth-child(4) {
    text-align:center;
}
